/* Geral */

* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    color: #000;
    box-sizing: border-box;
}

body {
    background-image: url("../src/dolomites_mountains_4k.jpg");
    background-position: center;
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;
    transition: 0.3s;
}

button:hover {
    background-color: #102f5e;
    
}
button:hover > i {
    color: #fff;
}


button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}


input,
select {
    padding: .25rem 0.5rem;
    width: 40rem;
}

.esconder {
    display: none;
}

/* Cabeçalho */

.todo-container {
    max-width: 450px;
    margin: 3rem auto ;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
    
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccd;
}

/* Formulário */

#todo-formulario,
#editar-formulario {
    padding: 1rem;
    border-bottom: 1px solid #ccdd;
}

#todo-formulario p, #editar-formulario p{
    margin-bottom: .5rem;
    font-weight: bold;
}

.controle-formulario {
    display: flex;
}

.controle-formulario input {
    margin-right: 0.3rem;
}

#btn-cancela-edicao {
    margin-top: 1rem;
}

#btn-cancela-edicao:hover{
    color: #fff;
}

/* ToolBar*/

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccdd;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .4rem;
}

#pesquisar {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#pesquisar form {
    display: flex;
  }
  
#pesquisar input {
    width: 100%;
    margin-right: 0.3rem;
}
  
#filtro {
    width: 35%;
    display: flex;
    flex-direction: column;
}
  
#filtroselect {
    flex: 1;
}

/* ToDo Lista*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;

}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.5rem;
}

.feito {
    background-color: #395169;
}

.feito h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}


@media (min-width: 481px) and (max-width: 767px) {
  
    body {
    background-size: auto;
}
    
  }
  